.bk-white {
  background-color: #fff;
}

/* width */
.w18 {
  width: 18px;
}

.w20 {
  width: 20px;
}

.w30 {
  width: 30px;
}

/* height */
.h30 {
  height: 30px;
}

.h40 {
  height: 40px;
}

/* padding */
.p10 {
  padding: 10px;
}
.plr10 {
  padding: 0px 10px;
}
.plr20 {
  padding: 0px 20px;
}

/* margin */
.m10 {
  margin: 10px;
}

.mt2 {
  margin-top: 2px;
}

.mt8 {
  margin-top: 8px;
}

.mt10 {
  margin-top: 10px;
}

.mt30 {
  margin-top: 30px;
}

.ml10 {
  margin-left: 10px;
}

.mr2 {
  margin-right: 2px;
}

.mr8 {
  margin-right: 8px;
}

.mr10 {
  margin-right: 10px;
}

.mb8 {
  margin-bottom: 8px;
}

/* display */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

/* fontSize */
.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

/* font */
.bold {
  font-weight: bold;
}

.ellipsis-one {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 多行省略,未设置行数 */
.ellipsis-more {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* div */
.t-align-center {
  text-align: center;
}

/* mouse */
.pointer {
  cursor: pointer;
}

.overflowY-auto {
  overflow-y: auto;
}

/* 滚动条 */
::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background-color: #c8c8c8;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}


/* initCss用于初始化CSS */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,
caption,th,td,form,fieldset,legend,input,button,textarea,menu {
	margin:0;
	padding:0
}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details {
	display:block
}
table {
	border-collapse:collapse;
	border-spacing:0
}
caption,th {
	text-align:left;
	font-weight:normal
}
html,body,fieldset,img,iframe,abbr {
	border:0
}
i,cite,em,var,address,dfn {
	font-style:normal
}
[hidefocus],summary {
	outline:0
}
li {
	list-style:none
}
h1,h2,h3,h4,h5,h6,small {
	font-size:100%
}
sup,sub {
	font-size:83%
}
pre,code,kbd,samp {
	font-family:inherit
}
q:before,q:after {
	content:none
}
textarea {
	overflow:auto;
	resize:none
}
label,summary {
	cursor:default
}
a,button {
	cursor:pointer
}
h1,h2,h3,h4,h5,h6,em,strong,b {
	font-weight:bold
}
del,ins,u,s,a,a:hover {
	text-decoration:none
}
body,textarea,input,button,select,keygen,legend {
	font:12px/1.14 arial,\5b8b\4f53;
	color:#333;
	outline:0
}
a{
  color: black;
  text-decoration:none;
}
