<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./static/css/base.css" rel="stylesheet"> -->
    <link href="./static/css/element@2.2.6.css" rel="stylesheet">
    <script src="./static/js/vue@3.2.36.js"></script>
    <script src="./static/js/elementPlus@2.2.6.js"></script>
    <script src="./static/js/elementPlus-zhcn.js"></script>
    <script src="./static/js/elementPlusIcon@2.0.4.js"></script>
    <script src="./static/js/init.js"></script>
    <title>探索者产品导航</title>
    <link href="./static/css/common.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="./static/css/fonts/iconfont.css">
    <link rel="stylesheet" href="./static/css/iconfonts/iconfont.css">
    <link href="./static/css/help.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <div id="app">
        <div class="navheader">
            <div class="logobox" >
                <!-- <a href=""><img src="./static/img/navbar.png" alt=""></a> -->
                <h1><span><img src="./static/img/logo_b.png" alt=""></span>网址导航</h1>
                
            </div>
            <el-button @click="SetHome(this,window.location)">设为主页</el-button>
        </div>
        <div class="navbody">
            <el-scrollbar style="height: 100%;" class="noscroll">
                <div  class="baidusearch">
                    <div class="sc_icon"> 
                        <img src="./static/img/baidu.png" alt="" > 
                    </div>
                    <div>
                        <el-input v-model="searchvalue" @keyup.enter="search(searchvalue)">
                            <template #append>
                                <el-button  type="primary" @click="search(searchvalue)" size="large">百度一下</el-button>
                            </template>
                        </el-input>
                    </div>
                </div>
                <div class="tsz_navbody">
                    <el-tabs v-model="activeName" class="demo-tabs navtab" tab-position="top" @tab-click="handleClick" >
                        <el-tab-pane label="网址导航" name="1">
                            <div class="nav_tab_body" v-for="(navs,index) in tszWeblist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="产品下载" name="2">
                            <div class="nav_tab_body" v-for="(navs,index) in threeDlist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="文档资源" name="3">
                            <div class="nav_tab_body" v-for="(navs,index) in filelist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="4" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple largeblock" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg" :style="`background-color: ${item.bgcolor};`">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                                <a  :href="item.url" download target="downloadFile" class="downfilebtn"> <i class="icon iconfont full-icon-icon_634"></i> 下载</a>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="视频资源" name="4">
                            <div class="nav_tab_body" v-for="(navs,index) in vediolist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple largeblock" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg" :style="`background-color: ${item.bgcolor};`">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                                <div class="bofang">
                                                    <i class="icon iconfont full-icon-icon_205"></i>
                                                </div>
                                                <!-- <a  :href="item.url" target="_blank" class="downfilebtn"> <i class="icon iconfont full-icon-icon_634"></i> 下载PDF</a> -->
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="物料规范" name="5">
                            <div class="nav_tab_body" v-for="(navs,index) in studylist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="4" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple largeblock" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg" :style="`background-color: ${item.bgcolor};`">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                                <div class="bofang">
                                                    <i class="icon iconfont full-icon-icon_205"></i>
                                                </div>
                                                <!-- <a  :href="item.url" target="_blank" class="downfilebtn"> <i class="icon iconfont full-icon-icon_634"></i> 下载PDF</a> -->
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="企业视觉识别系统" name="6">
                            <div class="nav_tab_body" v-for="(navs,index) in vilist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="6" :md="6" :lg="6" :xl="4" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple largeblock" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg" :style="`background-color: ${item.bgcolor};`">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                                <a  :href="item.url" download target="downloadFile" class="downfilebtn"> <i class="icon iconfont full-icon-icon_634"></i> 下载</a>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                        <el-tab-pane label="常用工具" name="7">
                            <div class="nav_tab_body" v-for="(navs,index) in toollist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-tab-pane>
                    </el-tabs>
                </div>
            </el-scrollbar>
        </div>
    </div>
</body>

</html>
<script src="./static/js/data.js?v1.1.2"></script>
<script>
    const App = {
        setup() {
            const { proxy } = getCurrentInstance();
            const { computed} = Vue;
            function initState() {
                return {
                    activeName:'1',
                    tszWeblist:tszWeblists,
                    threeDlist:threeDlists,
                    filelist:filelists,
                    vediolist:vediolists,
                    vilist:vilists,
                    studylist:studylists,
                    toollist:toollists,
                    searchvalue:''
                }
            }
            const state = reactive(initState());
            const newName = computed(() => {
                  
            })
            function handleClick (tab, event) {
                console.log(tab, event)
            }
            function search(keyword){
                window.open('https://www.baidu.com/s?wd='+keyword)
            }
            // 设为首页
            function SetHome(obj, vrl) {
                try {
                    obj.style.behavior = 'url(#default#homepage)';
                    obj.setHomePage(vrl);
                } catch(e) {
                    if (window.netscape) {
                    try {
                        netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
                    } catch(e) {
                        alert("抱歉！您的浏览器不支持直接设为首页。请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为“true”，点击“加入收藏”后忽略安全提示，即可设置成功。");
                    }
                    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                    prefs.setCharPref('browser.startup.homepage', vrl);
                    }
                }
            }
            return {
                ...toRefs(state),
                handleClick,
                search,
                SetHome
            }
        }
    }
    mountApp(App);
</script>