<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./static/css/base.css" rel="stylesheet"> -->
    <link href="./static/css/element@2.2.6.css" rel="stylesheet">
    <script src="./static/js/vue@3.2.36.js"></script>
    <script src="./static/js/elementPlus@2.2.6.js"></script>
    <script src="./static/js/elementPlus-zhcn.js"></script>
    <script src="./static/js/elementPlusIcon@2.0.4.js"></script>
    <script src="./static/js/init.js"></script>
    <title>CatTool导航</title>
    <link href="./static/css/common.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="./static/css/fonts/iconfont.css">
    <link rel="stylesheet" href="./static/css/iconfonts/iconfont.css">
    <link href="./static/css/help.css" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="imgs/favicon.ico">
</head>

<body>
    <div id="app">
        <div class="navheader">
            <div class="logobox" >
                <!-- <a href=""><img src="./static/img/navbar.png" alt=""></a> -->
                <h1><span>cat </span> tool</h1>
            </div>
        </div>
        <div class="navbody">
            <el-tabs v-model="activeName" class="demo-tabs navtab" tab-position="left" @tab-click="handleClick" >
                <el-tab-pane label="实用工具" name="1">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in navList" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="4" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="释放大招" name="2">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in skillList" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="12" :sm="8" :md="6" :lg="6" :xl="4" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="设计空间" name="3">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in designspace" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="4" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="软件下载" name="4">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in softwarelists" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="基础教程" name="5">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in studylist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                    <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                        <a :href="item.url" target="_blank">
                                            <div class="appimg">
                                                <img :src="item.imgurl" alt="">
                                            </div>
                                            <div class="app_bg">
                                                <img :src="item.imgurl" alt="">
                                            </div>
                                            <div class="app_text">
                                                <div class="grid-content_title">
                                                    {{item.title}}
                                                </div>
                                                <div class="desctext">
                                                    {{item.desc}}
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="设计规范" name="6">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in designnorms" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="图标专栏" name="7">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in iconlists" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="可视设计" name="8">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in viewlists" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="编程工具" name="9">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in devlists" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="数据中心" name="10">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in datalist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="产品经理" name="11">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="right_info" style="position: fixed; right:0;bottom:60px;z-index: 5;">
                                <el-image
                                    style="width: 100px; height: 100px"
                                    :src="url"
                                    :preview-src-list="srcList"
                                    :initial-index="4"
                                    fit="cover"
                                ></el-image>
                            </div>
                            <div class="nav_tab_body" v-for="(navs,index) in PMlist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="智能科技" name="12">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in AIlist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
                <el-tab-pane label="VIP通道" name="13">
                    <div class="navbody-box">
                        <el-scrollbar  class="noscoll">
                            <div class="nav_tab_body" v-for="(navs,index) in viplist" :key="index">
                                <div class="title">{{navs.title}}</div>
                                <el-row :gutter="16">
                                    <el-col :xs="8" :sm="6" :md="6" :lg="4" :xl="3" v-for="(item,idx) in navs.children" :key="idx">
                                        <div class="grid-content ep-bg-purple" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                                            <a :href="item.url" target="_blank">
                                                <div class="appimg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_bg">
                                                    <img :src="item.imgurl" alt="">
                                                </div>
                                                <div class="app_text">
                                                    <div class="grid-content_title">
                                                        {{item.title}}
                                                    </div>
                                                    <div class="desctext">
                                                        {{item.desc}}
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-scrollbar>
                    </div>
                    
                </el-tab-pane>
            </el-tabs>
        </div>
        <div :class="isShowlastpage?'gg_box gg_open':'gg_box'" >
            <span class="gg_label" v-show="isShowlastpage" @click="isShowlastpage=false">最近上新</span>
            <div class="gg_box_header">
                <h2>最近上新</h2>
                <span>
                    <i class="icon iconfont icon-guanbi1" @click="isShowlastpage=true"></i>
                </span>
            </div>
            <ul>
                <li v-for="(item ,index) in lastapp" :key="item">
                    <div class="lastapp-item" :title="`名称：${item.title} &#10;描述：${item.desc}`">
                        <a :href="item.url" target="_blank">
                            <div class="appimg">
                                <img :src="item.imgurl" alt="">
                            </div>
                            <div class="app_bg">
                                <img :src="item.imgurl" alt="">
                            </div>
                            <div class="app_text">
                                <div class="grid-content_title">
                                    {{item.title}}
                                </div>
                                <div class="desctext">
                                    {{item.desc}}
                                </div>
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
<script src="./static/js/data.js?v1.1"></script>
<script src="./static/data/logdata.js"></script>
<script>
    const App = {
        setup() {
            const { proxy } = getCurrentInstance();
            const { computed} = Vue;
            function initState() {
                return {
                    activeName:'1',
                    designspace:designspaces,
                    studylist:studylists,
                    navList:navLists,
                    skillList:skillLists,
                    softwarelists:softwarelist,
                    designnorms:designnorm,
                    iconlists:iconDesigns,
                    viewlists:viewlist,
                    devlists:devlist,
                    datalist:datalists,
                    PMlist:PMlists,
                    AIlist:AIlists,
                    viplist:viplists,

                    // 近期上新
                    lastapp:lastapps,
                    isShowlastpage:true,
                    srcList:srcLists,
                    url:srcLists[0],
                }
            }
            const state = reactive(initState());
            const newName = computed(() => {
                  
            })
            function handleClick (tab, event) {
                console.log(tab, event)
            }
            return {
                ...toRefs(state),
                handleClick
            }
        }
    }
    mountApp(App);
</script>