body{
    margin: 0 ;
    padding: 0;
    background-color: #f3f5f7;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    /*滚动条整体样式*/
    background: transparent;
    height: 16px;
    width: 16px;
}
body::-webkit-scrollbar-corner, html::-webkit-scrollbar-corner {
    width: 0;
}
body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    width : 6px;
    border-radius   : 10px;
    background-color: #d2d2d2;
    background-clip: content-box;
    border: 4px solid transparent;
}
body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0);
    background   : transparent;
    border-radius: 10px;
}
ul,li,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
em,i{
    font-style: normal;
}
a{
    text-decoration: none;
    color: #282828;
}
.t_headerbox{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: #ffffff3b;
    backdrop-filter: blur(23px);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
    .t_header{
        font-size: 28px; 
        font-weight: 600; 
        color: #282828; 
        display: flex;
        align-items: center;
        img{
            height: 60px;
            margin-right: 10px;
        }
    }
    .t_nav{
        ul{
            display: flex;
            li{
                margin-right: 50px;
                font-weight: 400;
                transition: ease all 0.5s;
                font-size: 14px;
                span{
                    padding: 5px 8px;
                    background-color: transparent;
                    border-radius: 4px;
                    transition: ease all 0.5s;
                }
                &:hover{
                    // color: #0052d9;
                    font-weight: 400;
                    span{
                        background-color: #e6e8eb;
                    }
                }
            }
        }
    }
}

.t_bannerbox{
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
   
    img{
        width: 1920px;
        position: absolute;
        margin-left: -960px;
        left: 50%; 
    }
    .t_masklayer{
        height: 100px;
        background:linear-gradient(180deg,hsla(0,0%,96%,0),#f5f5f5);
        position: absolute;
        bottom:0;
        width: 100%;

    }
    .t_slogo{
        position: absolute;
        left: 0;
        bottom: 40px;
        width: 100%;
        h2{
            font-size: 42px;
            color: #0052d9;
            margin-bottom: 10px;
        }
        span{
            color: #282828;
            font-size: 36px;
            display: block;
            font-weight: 600;
        }
    }
}
.t-body{
    position: relative;
    // top: -100px;
}
.t_main_warp{
    width: 1440px;
    margin: 0 auto;
}

.t_model_box{
    position: relative;
    background-color: #fff;
    // background-color: #ffffff3b;
    // backdrop-filter: blur(23px);
    padding: 36px;
    border-radius: 6px;
    box-shadow:0 6px 30px 5px rgba(0,0,0,0.05);
    transition: ease all 0.5s;
    margin-bottom: 20px;
    &:hover{
        box-shadow: 0 6px 30px 5px rgba(0,0,0,0.05), 0 16px 24px 2px rgba(0,0,0,0.04), 0 8px 10px -5px rgba(0,0,0,0.08);
        transform: translateY(-4px);
    }
    .t_mb_toplabel{
        font-size: 14px;
        color: #999;
    }
    .t_mb_title{
        font-size: 28px;
        pointer-events: none;
    }
    .t_mb_appline{
        height: 1px;
        background-color: #e8e0e0;
        margin: 24px 0;
    }
    .t_mb_toprightimg{
        position: absolute;
        width: 130px;
        height: 130px;
        right: 20px;
        top: 0px;
    }
    .t_mb_appbox{
        margin-top: 24px;
        position: relative;
        z-index: 3;
        padding-bottom: 24px;
        border-bottom: 1px solid #e8e0e0;
        &:last-child{
            border-bottom:0 ;
            padding-bottom: 0;
        }
        .t_mb_applabel{
            font-size: 14px;
            color: #999;
            display: block;
            margin-bottom: 10px;
        }
        .t_mb_app_ul{
            display: flex;
            flex-wrap: wrap;
            .t_mb_app_li{
                display: flex;
                box-sizing: border-box;
                margin-bottom: 16px;
                background-color: transparent;
                border-radius: 4px;
                cursor: pointer;
                position: relative;
                align-items: center;
                padding: 5px 5px ;
                transition: ease all 0.5s;
                &:hover{
                    background-color: #e6e8eb;
                }
              .t_mb_app_imgbox{
                width: 24px;
                height: 24px;
                border-radius: 16px;
                overflow: hidden;
                position: absolute;
                left: 5px;
                top: 3px;
                img{
                    width: 100%;
                }
              }  
              .t_mb_app_textbox{
                // margin-left: 10px;
                padding-left: 34px;
                word-break: break-all;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                .t_mb_app_title{
                    font-size: 14px;
                    margin-right: 10px;
                }
                .t_mb_tag{
                    font-size: 12px;
                    padding: 2px 6px ;
                    border-radius: 4px;
                    &.t_tag_bg1{
                        background-color: #e5f6f0;
                        color: #1bc578; 
                    }
                    &.t_tag_bg2{
                        background-color: #ccc;
                    }
                    &.t_tag_bg3{
                        background-color: #ccc;
                    }
                }
              }  
            }
        }
    }
    .t_mb_box_bg{
        position: absolute;
        right: 50px;
        bottom: 50px;
        width: 50%;
        height: 50%;
        border-radius: 250px;
        opacity: 0.07;
        filter: blur(36px);
        &.t_box_bg1{
            background-color: #1b51c5;
        }
        &.t_box_bg2{
            background-color: #1bc578;
        }
        &.t_box_bg3{
            background-color: #c5811b;
        }
        &.t_box_bg4{
            background-color: #c5351b;
        }
        &.t_box_bg5{
            background-color: #1bbfc5;
        }
        &.t_box_bg6{
            background-color: #c51b8c;
        }
    }
}
.t_main_section{
    margin-top: 80px;
    background-color: #fff;
    padding-top: 80px;
    padding-bottom: 120px;
    .t_section{
        display: flex;
        .t_rowitem{
            
            // display: flex;
            width: 100%;
            .t_section_left{
                padding-top: 30px;
                .tsf_title{
                    font-size: 42px;
                    color: #0052d9;
                }
                .tsf_line{
                    height: 2px;
                    background: linear-gradient(89.59deg,#0052d9 .35%,rgba(187,211,251,0) 99.65%);
                    margin: 24px 0;
                }
                .tsf_text{
                    h4{
                        font-size: 36px;
                        margin-bottom: 20px;
                        word-break: keep-all;
                    }
                    .tsf_text_desc{
                        font-size: 20px;
                        padding-right: 20px;
                    }
                }
            }
            .t_section_right{
            }
        }
        
    }
}

.t_sectimg_picbox{
    // height: 500px;
    background-color: #f1f2f5;
    border-radius: 6px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    box-shadow: 0px 50px 100px -12px rgba(0,0,0,.05),0px 30px 60px -30px rgba(0,0,0,.1);
    .tsp_page1{
        height: 260px;
        background-color: #fff;
        &.tsp_pagebg_1{
            background-color: #0052d9;
        }
        &.tsp_pagebg_2{
            background-color: #536178;
        }
        &.tsp_pagebg_3{
            background-color: #fff;
        }
        &.tsp_pagebg_4{
            background-color: #0052d9;
        }
    }
    .tsp_line{
        background: linear-gradient(90deg,#0052d9,#fff);
        height: 6px;
    }
    .tsp_textbox{
        padding: 36px;
        .tsp_textbox_title{
            i{
                display: block;
                font-size: 32px;
            }
            span{
                font-size: 16px;
                margin-bottom: 20px;
                display: block;
                margin-top: 10px;
            }
        }
        .tsp_textbox_desc{
            font-size: 13px;
            line-height: 22px;
            color: #616161;
        }
    }
}
.tiyanbtn{
    width: 200px;
    background-color: #0052d9;
    border: 0 ;
    margin-bottom: 18px;
    margin-top: 10px;
    border-radius: 2px;
    display: flex ;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 22px ;
    padding: 10px 0 13px 0;
    transition: ease all 0.5s;
    border-radius: 12px ;
    margin-top: 40px;
}
.t-footer{
    background-color: #f5f5f5;
    border-top:1px solid #e7e7e7;
    padding-top: 60px;
    .t_mb_alllinkbox{
        display: flex;
        .t_mb_linkbox{
            width: 120px;
            margin-right: 10%;
            &>h5{
                font-size: 14px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.4);
                margin-bottom: 24px;
            }
            &>ul{
                li{
                    font-size: 14px;
                    color: #282828;
                    margin-bottom: 16px;
                    cursor: pointer;
                }
            }
        }
    }
    .t_mb_qrbox{
        width: 200px;
        padding: 24px;
        box-sizing: border-box;
        border-radius: 9px;
        background: #f3f3f3;
        box-shadow: 0 8px 10px #efefef;
        border:1px solid #e7e7e7;
        margin-bottom: 20px; 
        box-sizing: border-box;
        .t_mb_qrimgbox{
            border-radius: 8px;
            border: 4px solid #0052d9;
            overflow: hidden;
            padding: 10px;
            box-shadow: 0 5px 8px #d5d7dd;
            img{
                width: 100%;
            }
        }
        .t_mb_qrtextbox{
            text-align: center;
            margin-top: 16px;
            h4{
                color: #282828;
            }
            p{
                font-size: 14px;
                color: #616161;
                margin-top: 8px;
            }
        }
        
    }
    .t_mb_Copyright{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 60px;
        height: 40px;
        background-color: #e7e7e7;
        font-size: 12px;
        color: rgba(0, 0, 0, 0.4);

    }
}
.tms_page2{
    margin-top: 0;
    background-color: transparent;
}
.tms_page3{
    margin-top: 0;
}