body {
  margin: 0;
  padding: 0;
  background-color: #f1f2f3;
  overflow-x: hidden;
}

div, ul, li, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  height: 60px;
  width: 100%;
  background-image: linear-gradient(to bottom, #d8e3f1, #f1f2f3);
  position: fixed;
  top: 0;
  z-index: 9;
}

.h_warp {
  width: 1200px;
  margin: 0 auto;
}

.el-row:last-child {
  margin-bottom: 0;
}

.mlr-10 {
  margin: 0 10px;
}

.navbutton {
  padding: 4px 10px 5px 6px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 10px;
  color: #787878;
  transition: ease all 0.5s;
}

.navbutton:hover {
  border: 1px solid #0077ff;
  color: #0077ff;
}
