
body{
    margin: 0;
    padding: 0;
    // background-color: #f1f2f3;
    overflow-x: hidden;
}
div,ul,li,p,h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
.header{
    height: 60px;
    width: 100%;
    // background-color: #fff;
    background-image: linear-gradient(to bottom, #d8e3f1, #f1f2f3);
    position: fixed;
    top: 0;
    z-index: 9;
}
.h_warp{
    width: 1200px;
    margin:  0 auto;
}
.el-row {
    &:last-child {
      margin-bottom: 0;
    }
}
.mlr-10{
    margin: 0 10px;
}
.navbutton{
    padding: 4px 10px 5px 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    color: #787878;
    transition: ease all 0.5s;
    &:hover{
        border: 1px solid #0077ff;
        color: #0077ff;
    }
}

// 新增主题
:root {
--bg-color: #f0f0f3;
--text-color: #303133;
--card-bg: #ecedf0;
--border-color: #e4e7ed;
--boxshadow:5px 5px 10px #d5dae1, -5px -5px 10px white
}

.dark-theme {
--bg-color: #2f333f;
--text-color: #e5eaf3;
--card-bg: #ecedf0;
--border-color: #424242;
--boxshadow:5px 5px 10px #1a1f25, -5px -5px 10px #3a3434
}

body {
    background-color: var(--bg-color)!important;
    color: var(--text-color);
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)!important;
}
.navbody-box {
    background-color: var(--bg-color)!important;
    border-color: var(--border-color)!important;
}

.grid-content {
    background: var(--card-bg)!important;
    border: 1px solid var(--border-color);
    box-shadow: var(--boxshadow)!important;
    position: relative;
    .delicon{
        position: absolute;
        right: 8px;
        top: 0;
        color: #ccc;
        opacity: 0;
        translate: all 0.5s ease ;
        z-index: 2;
        cursor: pointer;
        &:hover{
            color: red!important;
        }
    }
    &:hover{
        .delicon{
            opacity: 1;
        }    
    }
}
/* 修改Element Plus组件样式 */
.el-tabs__item {
    color: var(--text-color) !important;
}

.el-tabs__nav-wrap::after {
    background-color: var(--border-color);
}
.navheader h1{
    color: var(--text-color)!important;
    text-shadow: var(--boxshadow)!important;
}
.sreachtext{
    color: var(--text-color)!important;
}
.linkselect{
    background-color: #d9e4f0;
    padding: 6px 20px;
    cursor: pointer;
    font-size: 15px ;
    font-weight: 600;
    transition: ease all 0.5s;
    &:hover{
        background-color: #4073ff;
        color: #fff;
    }
}