.feedbackbox {
  padding: 1px 16px 10px 16px;
  margin: 60px 16px 0 16px;
  background-color: #fff;
}

.feedbackbox .infopage_header {
  font-size: 14px;
  margin-top: 16px;
  margin-bottom: 10px;
}

.u_pagination {
  position: relative;
  left: -16px;
  margin-top: 10px;
}

.u_pagination.el-pagination.is-background .el-pager li {
  color: #000;
  border-radius: 20px;
}

.u_pagination.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #4568cb;
}

.u_pagination .el-pager li {
  font-weight: 400;
}

.showimgbox {
  margin-right: 5px;
}

.u_block h3 {
  font-weight: 400;
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.u_block h3::after {
  content: '';
  display: inline-block;
  width: 6px;
  height: 26px;
  background-color: #e4ebff;
  position: absolute;
  bottom: 0px;
  left: 0;
  border-radius: 2px;
  border-left: 2px solid #4568cb;
}

.el-table .el-table__cell div {
  color: #000;
}

.el-table .text-flex.linkblue {
  color: #4568cb;
  cursor: pointer;
}

.fd_diabox .el-dialog__body {
  padding: 0px 20px;
}

.fd_diaboxul li h4 {
  margin-bottom: 6px;
  font-weight: 600;
  margin-top: 16px;
  color: #000;
}

.liveradio .is-active .el-radio-button__original-radio:checked + .el-radio-button__inner {
  background-color: #f5d261;
  border-color: #f5d261;
  box-shadow: -1px 0 0 0 #f5d261;
  color: #000;
}

.liveradio .el-radio-button__inner:hover {
  color: #000;
}

.el-radio-button__original-radio:checked + .el-radio-button__inner {
  background-color: #4568cb;
  border-color: #4568cb;
}

.el-dialog {
  border-radius: 22px;
}

.imgupload .el-upload-list--picture-card .el-upload-list__item, .imgupload .el-upload--picture-card {
  width: 64px;
  height: 64px;
}
