$main_color:#583cf1;
body{
   background-color: #f0f0f3; 
   color: #363636;
   height: calc(100vh);
   box-shadow: inset 80px 80px 160px #c0cdd542, inset -80px -80px 160px #ebf0fb;
}
h1{
    margin: 0;
    padding: 0;
    line-height: 1;
}
.title{
    margin-bottom: 20px;
}
.navheader{
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    // background-color: #f5f8ffb5;
    background-color: transparent;
    backdrop-filter: blur(6px);
    // border-bottom: 1px solid #ffffff91;
    h1{
        text-transform: uppercase;
        span{
            color: $main_color;
        }
    }
    .logobox{
        height: 38px;
        img{
            height: 100%;
        }
    }
}
.grid-content{
    background-color: #fff;
    padding: 10px;
    background: #ecedf0;
    box-shadow: 5px 5px 10px rgba(163,177,198,60%), -5px -5px 10px rgba(255, 255, 255,50%);
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #333;
    transition: ease all 0.5s;
    position: relative;
    &:hover{

        background-color: #fff;
    }
    a{
        color: #333;
        display: block;
        margin-bottom: 5px;
    }
    .grid-content_title{
        font-size: 14px;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .desctext{
        color: #868686;
        font-size: 12px;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .appimg{
        width: 40px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;
        img{
            width: 100%;
        }
        position: absolute;
        top: 10px;
    }
    .app_text{
        padding-left: 50px;
    }
}
.nav_tab_body{
    padding: 12px 24px 0px 24px;
}

.navtab{
    .el-tabs__item{
        &:hover{
            color: $main_color;
        }
        &.is-active{
            color: $main_color;
        } 
    }
    .el-tabs__active-bar{
        background-color: $main_color;
    }
}

.navbody-box{
    height: calc(100vh - 60px);
}
.noscoll{
    height: 100%;
}