<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./static/css/base.css" rel="stylesheet"> -->
    <link href="./static/css/element@2.2.6.css" rel="stylesheet">
    <script src="./static/js/vue@3.2.36.js"></script>
    <script src="./static/js/elementPlus@2.2.6.js"></script>
    <script src="./static/js/elementPlus-zhcn.js"></script>
    <script src="./static/js/elementPlusIcon@2.0.4.js"></script>
    <script src="./static/js/init.js"></script>
    <title>探索者系统同系统</title>
    <link href="./static/css/collaborative.css" rel="stylesheet">
    <link href="./static/css/fonts/iconfont.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="co_header">
            <span onclick="window.open('index.html')">探索者协同系统</span>
            <div>用户</div>
        </div>
        <div class="co_content">
            <el-scrollbar style="height:100%">
                <section class="co_warp mt-10">
                    <div class="co_topbar_box">
                        <div>
                            <h1>全部项目</h1>
                        </div>
                        <div class="co_topbar_right" v-show="!isShowAllSearch">
                            <div class="co_topbar_right-item">
                                <el-button @click="createProject" size="large" color="#155dff">新建项目策划</el-button>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-select v-model="value" class="w-50 m-2" placeholder="项目状态" size="large">
                                    <el-option label="a" value="1" >按项目名称排序（1-9,a-z,特殊符号）</el-option>
                                    <el-option label="b" value="2" >按项目编号排序（小到大）</el-option>
                                    <el-option label="c" value="3" >按总金额（大到小）</el-option>
                                    <el-option label="c" value="3" >按到账情况（大到小）</el-option>
                                </el-select>
                            </div>
                            <div class="co_topbar_right-item" >
                                <el-input v-model="search" class="w-50 m-2" placeholder="输入关键词" size="large">
                                    <template #prefix>
                                        <el-icon class="el-input__icon"><search /></el-icon>
                                    </template>
                                </el-input>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-button size="large"  @click="showSearchbox">高级检索</el-button>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-button size="large" v-if="isShowcard"  @click="showCard">  <i class="icon iconfont icon-qiapianxuanze-"></i> </el-button>
                                <el-button size="large" v-else @click="showCard">  <i class="icon iconfont icon-liebiao"></i> </el-button>
                            </div>
                        </div>
                        <div class="co_topbar_right" v-if="isShowAllSearch">
                            <div class="co_topbar_right-item">
                                <div class="co_topbar_right-item">
                                    <el-input v-model="search" class="w-50 m-2" placeholder="项目名称" size="large"></el-input>
                                </div>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-select v-model="value" class="w-50 m-2" placeholder="项目类型" size="large">
                                    <el-option label="a" value="1" >123</el-option>
                                    <el-option label="b" value="2" >123</el-option>
                                    <el-option label="c" value="3" >123</el-option>
                                </el-select>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-select v-model="value" class="w-50 m-2" placeholder="建设单位" size="large">
                                    <el-option label="a" value="1" >123</el-option>
                                    <el-option label="b" value="2" >123</el-option>
                                    <el-option label="c" value="3" >123</el-option>
                                </el-select>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-select v-model="value" class="w-50 m-2" placeholder="所属部门" size="large">
                                    <el-option label="a" value="1" >123</el-option>
                                    <el-option label="b" value="2" >123</el-option>
                                    <el-option label="c" value="3" >123</el-option>
                                </el-select>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-select v-model="value" class="w-50 m-2" placeholder="项目状态" size="large">
                                    <el-option label="a" value="1" >123</el-option>
                                    <el-option label="b" value="2" >123</el-option>
                                    <el-option label="c" value="3" >123</el-option>
                                </el-select>
                            </div>
                            <div class="co_topbar_right-item">
                                <el-button size="large" color="#155dff">检索</el-button>
                                <el-button size="large" @click="isShowAllSearch=false">关闭</el-button>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="co_warp">
                    <div class="mt-10">
                        <!-- 表格 -->
                        <div v-show="isShowcard">
                            <!-- 表格 -->
                            <div>
                                <el-table
                                  :data="proList"
                                  height="calc(100vh - 180px)"
                                  class="fs_fox_table"
                                  style="width: 100%">
                                  <el-table-column type="index" align="center"> </el-table-column>
                                  <el-table-column
                                    prop="name"
                                    label="项目名称"
                                    min-width="180">
                                    <template #default="scope">
                                        <h4 onclick="window.open('proinfo.html')" class="hand">{{scope.row.name}}</h4> 
                                    </template>
                                  </el-table-column>
                                  <el-table-column
                                    prop="Idnumber"
                                    label="项目编号"
                                    width="200">
                                  </el-table-column>
                                  <el-table-column
                                    prop="label"
                                    label="子项"
                                    width="60">
                                    <template #default="scope">
                                        {{scope.row.childItem.length}}
                                    </template>
                                  </el-table-column>
                                  <el-table-column
                                    prop="buildunit"
                                    label="建设单位"
                                    width="180">
                                  </el-table-column>
                                  <el-table-column
                                    prop="unit"
                                    label="所属部门"
                                    width="80">
                                  </el-table-column>
                                  <el-table-column
                                    prop="sendTime"
                                    label="成员"
                                    width="60">
                                    <template #default="scope">
                                        {{scope.row.mater.length}}
                                    </template>
                                  </el-table-column>
                                  <el-table-column
                                    prop="responsiblor"
                                    label="负责人"
                                    width="80">
                                  </el-table-column>
                                  <el-table-column
                                    prop="sendTime"
                                    label="项目状态"
                                    width="80">
                                    <template #default="scope">
                                        <span class="co_tiplabel tip_bg1" v-if="scope.row.state=='1'">进行中</span>
                                        <span class="co_tiplabel tip_bg2" v-if="scope.row.state=='2'">归档</span>
                                        <span class="co_tiplabel tip_bg3" v-if="scope.row.state=='3'">关闭</span>
                                    </template>
                                  </el-table-column>
                                  <el-table-column
                                  prop="totalMoney"
                                  label="总金额"
                                  width="100">
                                  <template #default="scope">
                                    <span style="color:#c99d5c">￥ {{scope.row.totalMoney}} </span> 
                                   </template>
                                </el-table-column>
                                <el-table-column
                                  prop="recevieMoney"
                                  label="到账金额"
                                  width="100">
                                  <template #default="scope">
                                    <span style="color:#ff3535">￥ {{scope.row.recevieMoney}} </span> 
                                  </template>
                                </el-table-column>
                                <el-table-column
                                  prop="sendTime"
                                  label="到账情况"
                                  width="100">
                                  <template #default="scope">
                                    {{[(scope.row.recevieMoney/scope.row.totalMoney).toFixed(4)]*100}} %
                                </template>
                                </el-table-column>
                                  <el-table-column
                                    prop="format"
                                    label="操作"
                                    width="100">
                                    <template #default="scope">
                                        <el-button link type="primary" size="small" @click="handleClick"
                                          >编辑</el-button
                                        >
                                        <el-button link type="primary" size="small">删除</el-button>
                                      </template>
                                  </el-table-column>
                                </el-table>
                                <div style="margin-top: 6px;position:relative;left: -10px;">
                                  <el-pagination
                                  background
                                  layout="prev, pager, next"
                                  :total="1000">
                                </el-pagination>
                                </div>
                                
                              </div>
                        </div>
                         <!-- 卡片 -->
                         <div v-show="!isShowcard">
                            <el-row :gutter="48">
                                <el-col :xs="24" :sm="12" :md="8" :lg="8" :xl="6" v-for="(pro,index) in proList" :key="index" >
                                    <div class="co_procard_box" onclick="window.open('proinfo.html')">
                                        <div class="co_procard_imgbox">
                                            <img src="./static/img/1.jpg" alt="" v-if="pro.type=='公共建筑'">
                                            <img src="./static/img/4.jpg" alt="" v-else-if="pro.type=='住宅'">
                                            <img src="./static/img/5.jpg" alt="" v-else-if="pro.type=='学校'">
                                            <img src="./static/img/3.jpg" alt="" v-else-if="pro.type=='医院'">
                                            <img src="./static/img/4.jpg" alt="" v-else>
                                            <div class="co_shodow"></div>
                                            <div class="co_shodow_top"></div>
                                            <div class="co_procard_topbar_left">
                                                <span class="co_tiplabel tip_bg1" v-if="pro.state=='1'">进行中</span>
                                                <span class="co_tiplabel tip_bg2" v-if="pro.state=='2'">归档</span>
                                                <span class="co_tiplabel tip_bg3" v-if="pro.state=='3'">关闭</span>
                                            </div>
                                            <div class="co_procard_topbar_bottom">
                                                <span class="co_tiplabel"><span> <i class="icon iconfont icon-component-full2 "></i></span>{{pro.type}}</span>
                                                <span class="co_tiplabel"><span> <i class="icon iconfont icon-danwei "></i></span>{{pro.buildunit}}</span>
                                                <span class="co_tiplabel"><span> <i class="icon iconfont icon-bumen "></i></span>{{pro.unit}}</span>
                                                <div class="co_procard_imgId">项目编号：{{pro.Idnumber}}</div>
                                            </div>
                                            <div class="co_procard_topbar_right">
                                                <div class="co_procard_imgnumber" title="项目成员" v-if="pro.member"> <span> <i class="icon iconfont icon-bumen"></i></span> {{pro.member}}</div>
                                                <div class="co_procard_imguser"><span> <i class="icon iconfont icon-yijibumenfuzeren"></i></span> {{pro.responsiblor}} </div>
                                            </div>
                                            <h1>{{pro.name}}</h1>
                                        </div>
                                        <div>
                                            <el-button style="width: 100%;" class="co_primary_button1" color="#7fdd88" v-if="pro.state=='1'" round round title="项目进行中">查看详情</el-button>
                                            <el-button style="width: 100%;" class="co_primary_button2" color="#ffa90e" v-else-if="pro.state=='2'" round title="项目归档">查看详情</el-button>
                                            <el-button style="width: 100%;" class="co_primary_button3" color="#aaa" v-else round title="项目关闭">查看详情</el-button>
                                        </div>
                                    </div>
                                </el-col>
                            </el-row>
                        </div>
                    </div>
                </section>
                
            </el-scrollbar>
        </div>
        <!-- 新建 -->
        <el-dialog
            v-model="creatProDia"
            title="创建项目策划"
            width="660px"
            custom-class="co_dia">
            <div class="co_dia_box">
                <div class="co_dia_butgroup" v-show="activeName=='second'">
                    <span>添加合同</span>
                    <span>添加合同任务</span>
                    <span>添加到账</span>
                </div>
                <el-tabs v-model="activeName" class="demo-tabs" @tab-click="handleClick">
                    <el-tab-pane label="项目信息" name="first">
                        <div class="co_proDia_box">
                            <el-scrollbar style="height:100%">
                                <div>
                                    <el-form :model="form" label-width="120px">
                                        <el-form-item label="项目名称">
                                          <el-input v-model="form.name" />
                                        </el-form-item>
                                        <el-form-item label="项目编号">
                                            <el-input v-model="form.name" />
                                        </el-form-item>
                                        <el-form-item label="子项">
                                            <el-input v-model="form.name" />
                                        </el-form-item>
                                        <el-form-item label="建设单位">
                                          <el-select v-model="form.region" placeholder="选择建设单位">
                                            <el-option label="工大院" value="1" ></el-option>
                                            <el-option label="设计院" value="2" ></el-option>
                                          </el-select>
                                        </el-form-item>
                                        <el-form-item label="所属部门">
                                            <el-select v-model="form.region" placeholder="选择部门">
                                              <el-option label="设计部" value="1" ></el-option>
                                              <el-option label="施工部" value="2" ></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="选择成员">
                                            <el-select v-model="form.region" placeholder="选择部门">
                                              <el-option label="李晓云" value="1" ></el-option>
                                              <el-option label="詹天琪" value="2" ></el-option>
                                              <el-option label="王天琪" value="3" ></el-option>
                                              <el-option label="周天琪" value="4" ></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="项目负责人">
                                            <el-select v-model="form.region" placeholder="项目负责人">
                                              <el-option label="李晓云" value="1"></el-option>
                                              <el-option label="詹天琪" value="2" ></el-option>
                                            </el-select>
                                        </el-form-item>
                                        <el-form-item label="项目状态">
                                            <el-select v-model="form.region" placeholder="项目状态">
                                                <el-option label="进行" value="1"></el-option>
                                                <el-option label="归档" value="2" ></el-option>
                                                <el-option label="关闭" value="3" ></el-option>
                                              </el-select>
                                        </el-form-item>
                                        <el-form-item label="协同设计规则与流程">
                                            <el-select v-model="form.region" placeholder="规则与流程">
                                                <el-option label="TIR标准化智能规则" value="1"></el-option>
                                                <el-option label="定制规则" value="2" ></el-option>
                                              </el-select>
                                        </el-form-item>
                                      </el-form>
                                </div>
                            </el-scrollbar>
                        </div>
                        
                    </el-tab-pane>
                    <el-tab-pane label="合同进度" name="second">
                        <div class="co_proDia_box">
                            <el-scrollbar style="height:100%">
                                <div>
                                    <div class="co_largeBtn">添加合同</div> 
                                </div>
                                <div class="co_pro_htul_box">
                                    <ul class="co_pro_htul">
                                        <li>
                                            <div class="co_pro_htul_title">
                                                <h2>合同总金额</h2>
                                                <span>截止日期：2022/09/15</span>
                                            </div>
                                            <div class="co_pro_cash">￥ 100,0000.00</div>
                                        </li>
                                    </ul>
                                    <div class="co_pro_cashbox">
                                        <el-scrollbar style="height:100%">
                                            <ul class="co_sub-contract">
                                                <li v-for="index in 5" :key="index">
                                                    <div class="co_sub-contractbox">
                                                        <div class="co_sub-contractstatus">
                                                            <span class="co_stute_success">完成</span>
                                                        </div>
                                                        <div class="co_sub-contract_lf">
                                                            <h3>任务{{index}}：提供报审图 </h3>
                                                            <div>任务编号：C1-项目编号-20220901</div>
                                                            <span>时间节点：2022/7/1</span><span>项目负责人：李小旺</span>
                                                            <div>备注：<span>1号楼</span></div>
                                                        </div>
                                                        <div class="co_sub_optbar">
                                                            <el-button type="primary" size="small">编辑</el-button>   
                                                            <el-button type="danger" size="small">删除</el-button>   
                                                        </div>
                                                        <div class="co_sub-contract_lr">
                                                            <h4>￥ 20000</h4>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </el-scrollbar>
                                    </div>
                                </div>

                                <div class="co_useraccount">
                                    <div class="co_useraccountbox">
                                        <h2>到账总金额 <span @click="showAccounthistory">到账明细</span></h2>
                                        <span>到账日期：2022/09/15</span>
                                    </div>
                                    <div class="co_pro_cash">￥ 10,0000.00</div>
                                </div>
                                <div :class="isShowAccounthistoryPage?'co_pro_cashdescbox co_cash_open':'co_pro_cashdescbox co_cash_close'">
                                    <div class="co_pro_cashdescbox_header">
                                        <div class="co_dia_title">到账明细</div>  
                                        <div @click="isShowAccounthistoryPage=false" class="co_dia_rightcolse">折叠</div>
                                    </div>
                                    <div class="co_pro_cashdescbox_body">
                                        <el-scrollbar style="height:100%">
                                            <ul class="co_cashhistoryList">
                                                <li v-for="index in 16" :key="index">
                                                    <div class="co_cashhistoryList_row1">
                                                        <h5>到账{{index}}</h5>
                                                        <span>2022/09/01</span>
                                                    </div>
                                                    <div class="co_cashhistoryList_row2">
                                                        ￥ {{index}},0000.00
                                                    </div>
                                                </li>
                                            </ul>
                                        </el-scrollbar>
                                    </div>
                                </div>
                            </el-scrollbar>
                        </div>
                    </el-tab-pane>
                </el-tabs> 
            </div>
            <template #footer>
                <span class="dialog-footer">
                    <el-button @click="creatProDia = false">取 消</el-button>
                    <el-button type="primary" @click="creatProDia = false">确 定</el-button>
                </span>
            </template>
        </el-dialog>
    </div>
</body>

</html>
<script src="./static/data/testData.js"></script>
<script>
    const App = {
        setup() {
            const { proxy } = getCurrentInstance();
            const { computed} = Vue;
            function initState() {
                return {
                    search:'',
                    isCard:'卡片',
                    creatProDia:false,
                    isShowAccounthistoryPage:false,
                    isShowAllSearch:false,
                    isShowcard:false,
                    activeName:'first',
                    form:{},
                    // data
                    proList:ProLists
                }
            }
            const state = reactive(initState());
            const newName = computed(() => {
                  
            })
            function createProject(){
                state.creatProDia=true
            }
            function showAccounthistory(){
                state.isShowAccounthistoryPage=!state.isShowAccounthistoryPage
            }
            function showSearchbox(){
                state.isShowAllSearch=true
            }
            function showCard(){
                state.isShowcard=!state.isShowcard
            }
          
            return {
                ...toRefs(state),
                createProject,
                showAccounthistory,
                showSearchbox,
                showCard
            }
        }
    }
    mountApp(App);
</script>