<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" type="text/css" href="css/mcss.css">
  <link rel="stylesheet" href="css/reset.css">
  <!-- 引入样式 -->
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/vant.css">
  <link rel="stylesheet" href="css/iconfont/iconfont.css">
  <link rel="stylesheet" href="css/phone.css">
</head>

<body>
  <div id="app">
    <!-- 头部 -->
    <div class="m_bar_header">
      <span class="fl_icon_fl"><a href="m_index.html"> <i class="el-icon-arrow-left ml-1"></i> 返回</a></span>
      <span class="tetie"></span>
      <span class="fl_icon_fr"> <div @click="drawer = true"><i class="el-icon-search"></i><span style="margin: 0 14px 0 6px;">高级搜索</span></div> </span>
    </div>
    <!-- 查询 -->
    <div class="corp_Part_search" style="margin-top: 6vh;">
      <!-- <el-input placeholder="关键词搜索" v-model="searchKey" class="input-with-select self_input mlr-10" size="small">
        <el-button slot="append" icon="el-icon-search"  ></el-button>
      </el-input> -->
      <van-search v-model="searchKey" shape="round" style="width: 100%;"
      background="#e4e4e4" placeholder="请输入搜索关键词"></van-search>
    </div>
    <!-- 表格 -->
    <div class="corp_Part_table"  style="height: 88vh;">
      <div class="m_part_Box" v-for="(item,index)  in workList" :key="index">
        <div class="div_riqi">
          <span><span v-text="item.workdate.slice(5,7)"></span>/<span v-text="item.workdate.slice(8,10)"></span></span>
        </div>
        <div class="m_part_header">
          <div class="m_part_h_l">
            <span class="m_work_worker">{{item.worker}}</span>
            <label class="m_work_label">{{item.workType}}</label>
          </div>
          <div class="m_part_h_r">
            <button class="m_lei_btn m_type1" v-if="item.Type== 1">技术内业</button>
            <button class="m_lei_btn m_type2" v-if="item.Type== 2">技术外业</button>
            <button class="m_lei_btn m_type3" v-if="item.Type== 3">出差途中</button>
            <button class="m_lei_btn m_type4" v-if="item.Type== 4">请假</button>
            <el-dropdown trigger="click">
              <span class="el-dropdown-link">
                <button class="m_more_btn"><i class="icon iconfont icon-ziyuan"></i></button>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item> 追加</el-dropdown-item>
                <el-dropdown-item><span onclick="window.location.href='m_workport.html'">编辑</span> </el-dropdown-item>
                <el-dropdown-item>删除</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </div>
        </div>
        <div class="m_part_content">
          <div class="m_info_1">
            <div class="m_calenerBox" v-if="false">
              <div class="m_calener">
                <div class="m_calener_year" v-text="item.workdate.slice(0,4)"></div>
                <div class="m_calener_dayBox">
                  <span class="m_calener_day" v-text="item.workdate.slice(5,7)"></span>
                  <span class="m_calener_line"></span>
                  <span class="m_calener_mounth" v-text="item.workdate.slice(8,10)"></span>
                </div>
              </div>
            </div>
            <div class="worktext">
              {{item.workcontent}}
            </div>
          </div>
          <div class="clecle rmargin_1" v-if="item.clildworkList.length>0">
            <span></span>
            <div class="line"></div>
            <span></span>
          </div>
          <div v-if="item.clildworkList.length>0">
            <div class="m_info_1" v-for="(v,i)  in item.clildworkList">
              <div class="m_list_workBox" v-if="false">
                <span class="m_zuijia">追加</span>
                <span class="m_work_time" v-text="v.chi_work_date.slice(0,9)">2021-03-05</span>
                <span class="m_work_time" v-text="v.chi_work_date.slice(10,18)">08:30:41</span>
              </div>
              <div class="m_infolabel">
                <span class="m_zuijia">追加</span>
                <span class="m_work_time" v-text="v.chi_work_date"></span>
              </div>
              <div class="worktext">
                <div :class="isShowall?'m-height':'' ">
                  {{v.addWorkCon}}
                </div>
                <div v-if="v.addWorkCon.length>50" class="m_expend" v-show="isShowall" @click="showAll">展开全部 <i
                    class="icon iconfont icon-xiajiantou"></i>
                </div>
                <div v-if="v.addWorkCon.length>50" class="m_expend" v-show="!isShowall" @click="hideAll">折叠全部 <i
                    class="icon iconfont icon-shangjiantou"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="m_otherinfo">
            <a href="m_company.html" class="m_company" v-show="item.serviceCompany"> <i
                class="icon iconfont icon-web-icon-"></i>
              <span>{{item.serviceCompany}}</span>
            </a>
            <a href="" class="m_connect" v-show="item.serviceConnect"> <i class="icon iconfont icon-yonghu-fuben"></i>
              {{item.serviceConnect}}</a>
          </div>
        </div>
        <div class="m_part_footer">
          <div class="m_localtion"> <i class="icon iconfont icon-position-fill"></i> {{item.position}}</div>
          <div class="m_updtetime"><i class="icon iconfont icon-shijian" style="position: relative;top: 1px;"></i> <span>{{item.submitdete}}</span> </div>
        </div>
      </div>

    </div>
    <van-popup position="bottom" round v-model="drawer" :style="{ height: '88%' }" closeable>
      <div style="margin-top: 52px; height: 75%;overflow-y: auto;">
        <van-cell title="汇报人" :value="search.user" @click="selectuser = true" ></van-cell>
        <van-picker title="选择汇报人" v-show="selectuser" show-toolbar
          :columns="usergroups"
          @confirm="onConfirmuser"
          @cancel="onCanceluser"
          @change="onChangeuser"
        ></van-picker>
        <van-cell title="设计院" :value="search.company" @click="selectcompany = true" ></van-cell>
        <van-picker title="选择设计院" v-show="selectcompany" show-toolbar
          :columns="companys"
          @confirm="onConfirmcompany"
          @cancel="onCancelcompany"
          @change="onChangecompany"
        ></van-picker>
        <van-cell title="服务标志" :value="search.flag" @click="selectflag = true" ></van-cell>
        <van-picker title="选择服务标志" v-show="selectflag" show-toolbar
          :columns="flags"
          @confirm="onConfirmflag"
          @cancel="onCancelflag"
          @change="onChangeflag"
        ></van-picker>
        <van-cell title="汇报日期" :value="search.date" @click="selectdate = true" ></van-cell>
        <van-calendar v-model="selectdate" type="range" @confirm="onConfirm" ></van-calendar>
      </div>
      <div style="display: flex;justify-content: space-between;padding: 4px 12px;">
        <van-button type="default" size="small" @click="drawer = false">取消</van-button>
        <van-button type="info" size="small" @click="drawer = false">确定</van-button>
      </div>
    </van-popup>
  </div>
</body>

</html>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/index.js"></script>
<script src="js/vant.js"></script>
<script>
  new Vue({
    el: '#app',
    data: function () {
      return {
        drawer: false,
        timer: null,
        isShowall: true,
        searchKey: '',
        currentPage1: 1,
        workList: [
          {
          worker: '李晓明',
          workType: '软件测试/问题整理',
          Type: '1',   //1 技术内业 2 技术外业  3 出差途中   4 请假
          workdate: "2021-02-29",
          workcontent: "一、数字化审图   1）修改界面UI，调整界面代码 ； 2）和产品进行沟通关于产品升级需求；",
          position: "北京",
          clildworkList: [{
            chi_work_date: "2021-03-05 08:30:41",
            addWorkCon: "一、小程序商城 1、配合王慧娇调整小程序商城界面UI 二、签名签章 1、配合刘晓楠处理西北市政签名 三、CRM 1、针对现在的CRMweb端对适配手机页面进行UI设计，已出部分图 四、其他 1、和宋蕊沟通建筑结构杂志封面制作； 2、和邢雅熙沟通关于参加中石油石化的科学大会物料设计（展板、画册）设计需求 3、听麻工分享DDD领域设计概论"
          }],
          submitdete: "2021-03-02 12:28:41",
          serviceCompany: "北京探索者软件股份有限公司",
          serviceConnect: "吴云杰"
        }, {
          worker: '吉明',
          workType: '其他工作',
          Type: '2',
          workdate: "2021-02-28",
          workcontent: "一、数字化审图   1）修改界面UI，调整界面代码 ； 2）和产品进行沟通关于产品升级需求；",
          position: "北京",
          clildworkList: [],
          submitdete: "2021-03-02 12:28:41",
          serviceCompany: "成都城电电力工程设计有限公司(国网四川省电力公司经济技术研究院）",
          serviceConnect: "刘肖楠"
        }, {
          worker: '古力娜扎',
          workType: '项目伴随',
          Type: '3',
          workdate: "2021-02-27",
          workcontent: "上海出差",
          position: "北京",
          clildworkList: [{
            chi_work_date: "2021-03-05 08:30:41",
            addWorkCon: "下午到上海"
          }],
          submitdete: "2021-03-02 12:28:41",
          serviceCompany: "",
          serviceConnect: ""
        }, {
          worker: '诸葛项羽',
          workType: '软件安装/培训',
          Type: '4',
          workdate: "2021-02-26",
          workcontent: "请假",
          position: "北京",
          clildworkList: [{
            chi_work_date: "2021-03-05 08:30:41",
            addWorkCon: "下午请假半天"
          }],
          submitdete: "2021-03-02 12:28:41",
          serviceCompany: "",
          serviceConnect: ""
        }],
        search:{
          name:'',
          company:'',
          flag:'',
          date:'',
        },
        usergroups: ['麻工', '江哥', '小猛', '仙', '阮', '刘肖楠', '阮', '李杰'],
        companys: ['探索者软件', '中南建筑', '西北市政', '中建十二局'],
        flags: ['销售内业', '销售外业', '技术内业', '技术外业', '请假', '出差途中'],
        selectuser:false,
        selectcompany:false,
        selectflag:false,
        selectdate:false,
      }
      
    },
    methods: {
      showAll() {
        this.isShowall = !this.isShowall
      },
      hideAll() {
        this.isShowall = !this.isShowall
      },
      tableRowClassName({ row, rowIndex }) {
        if (rowIndex % 2 == 1) {
          return 'warning-row';
        } else if (rowIndex % 2 == 0) {
          return 'success-row';
        }
        return '';
      },
      
      cancelForm() {
        this.drawer = false;
      },
      handleSizeChange(val) {
        console.log(`每页 ${val} 条`);
      },
      handleCurrentChange(val) {
        console.log(`当前页: ${val}`);
      },
      
      formatDate(date) {
        return `${date.getMonth() + 1}/${date.getDate()}`;
      },
      onConfirm(date) {
        const [start, end] = date;
        this.selectdate = false;
        this.search.date = `${this.formatDate(start)} - ${this.formatDate(end)}`;
      },
      // 选人
      onConfirmuser(value, index) {
        this.selectuser= false;
        this.search.user=`${value}`
      },
      onChangeuser(picker, value, index) {
      },
      onCanceluser() {
        this.selectuser= false
      },
      // 选设计院
      onConfirmcompany(value, index) {
        this.selectcompany= false;
        this.search.company=`${value}`
      },
      onChangecompany(picker, value, index) {
      },
      onCancelcompany() {
        this.selectcompany= false
      },
      // 选服务标志
      onConfirmflag(value, index) {
        this.selectflag= false;
        this.search.flag=`${value}`
      },
      onChangeflag(picker, value, index) {
      },
      onCancelflag() {
        this.selectflag= false
      },
    }
  })
</script>